*.log
*.elc
theindex.inc
theindex.org
/org/index.org
.cask
/org/**/*.html
/org/archive.org
# Created by https://www.gitignore.io

### Clojure ###
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/public
