@charset "UTF-8";
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nkZRWJQ0UjzR2Uv6RollX_g.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nmB7wJ9CoPCp9n30ZBThZ1I.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Heavy'), local('Merriweather-Heavy'), url(http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6noQ7a4ChFTJXKOvSywU5K9Q.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nrsSoz0gOrwseB_671fuXgU.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIB0ue0Sk5cwvYx5tGiUAApw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIKG6KSkCb3wBFlS6Qx4Mm8U.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Heavy Italic'), local('Merriweather-HeavyItalic'), url(http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwILZYYHiK7MQWKA3oxaVNfbE.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwILZLGk4kwwTqoYoQUoKMebw.woff) format('woff');
}
/*
 BASSCSS
 Next-level CSS toolkit - http://jxnblk.github.io/basscss
 Made with love by Jxnblk - ©2014 Brent Jackson MIT License http://opensource.org/licenses/MIT

*/
body, button, input, select, textarea, pre { margin: 0; }

h1, h2, h3, h4, h5, h6, p, dl, ol, ul { margin-top: 0; margin-bottom: 1rem; }

button, input, select, textarea { font-family: inherit; font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

body { font-family: 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.5rem; font-weight: 400; }

h1, .h1, .f1 { font-size: 2rem; line-height: 2.5rem; }

h2, .h2, .f2 { font-size: 1.5rem; line-height: 2rem; }

h3, .h3, .f3 { font-size: 1.25rem; line-height: 1.5rem; }

p, .p, .f4, h4, h5, h6, dl, ol, ul { font-size: 1.125rem; line-height: 1.5rem; }

small, .small, .f5 { font-size: .875rem; line-height: 1.5rem; }

@media screen and (min-width: 48em) { .h1 { font-size: 4rem; line-height: 5rem; }
  .h2 { font-size: 2rem; line-height: 2.5rem; }
  .h3 { font-size: 1.5rem; line-height: 2rem; }
  .p { font-size: 1.25rem; line-height: 2rem; }
  .small { font-size: 1rem; } }
@media screen and (min-width: 64em) { .h1 { font-size: 6rem; line-height: 8rem; }
  .h2 { font-size: 3rem; line-height: 3.5rem; } }
strong, .bold { font-weight: bold; }

#content,#postamble { max-width: 48rem; }

#content, #postamble { margin-right: auto; margin-left: auto; }
body { padding: 1.5rem; }

@media screen and (min-width: 48em) and (max-width: 64em) { .p-responsive { padding: 3rem; }
  .px-responsive { padding-right: 3rem; padding-left: 3rem; }
  .py-responsive { padding-top: 3rem; padding-bottom: 3rem; } }
@media screen and (min-width: 64em) { .p-responsive { padding: 4rem; }
  .px-responsive { padding-right: 4rem; padding-left: 4rem; }
  .py-responsive { padding-top: 4rem; padding-bottom: 4rem; } }
body { color: #333333; background-color: #fff; }

a { color: #0096cc; text-decoration: none; }

a:hover { color: #007199; }

/*
 Pixyll
 A simple, beautiful theme for Jekyll that emphasizes content rather than aesthetic fluff.
 Best served with BASSCSS (http://jxnblk.github.io/basscss)
 Crafted with <3 by John Otander (@4lpine) - ©2014 John Otander MIT License http://opensource.org/licenses/MIT

*/
body { font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif; }

html, body { height: 100%; }

img { width: auto; max-width: 100%; }

body { font-size: 1.5rem; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
/* Table styles copied from Bootstrap Copyright (c) 2013 Twitter, Inc
*/
table { width: 100%; max-width: 100%; margin-bottom: 1.5; font-size: 1.125rem; }
table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td { padding: 12px; line-height: 1.2; vertical-align: top; border-top: 1px solid #333; }
table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid #333; }
table > caption + thead > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td { border-top: 0; }
table > tbody + tbody { border-top: 2px solid #333; }

#content { margin: 0 auto; }

form { font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif; font-weight: 300; font-size: 1rem; }

textarea.input { height: 8em; }

p { font-weight: 300; line-height: 1.5; color: #333; }

abbr { border-bottom: 1px black dotted; cursor: help; }

pre, code { font-family: Menlo, Monaco, "Courier New", monospace; }

code { color: #7a7a7a; }

pre { padding: 1.125em; font-size: 1.125rem; line-height: 1.11; overflow-x: scroll; margin-bottom: 0.88em; }

blockquote { padding: 1.33em; font-style: italic; border-left: 5px solid #7a7a7a; }

blockquote footer { font-size: .85rem; font-style: normal; background-color: #fff; color: #7a7a7a; border-color: transparent; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif; font-weight: 900; line-height: 1.2; margin: 1em 0 0.5em; }

@media screen and (min-width: 48em) { .site-header .site-title { float: left; }
  .meta, .post-meta { margin: 0; padding: 0; font-size: 1.25rem; }
  .h1, h1 { font-size: 3.250rem; }
  .h2, h2 { font-size: 2.298rem; }
  .h3, h3 { font-size: 1.625rem; }
  .h4, h4 { font-size: 1.150rem; }
  .p, p, li { font-size: 1.25rem; line-height: 1.8; }
  .small { font-size: 1rem; }
  table { font-size: 1.25rem; }
  .post-link .post-title { margin-top: 0.5em; }
  .posts .post { margin-bottom: 1.333em; padding-bottom: 0.666em; border-bottom: thin solid #f3f3f3; }
  .posts .post:last-child { border-bottom: none; margin-bottom: .333em; padding-bottom: 0; } }
@media screen and (max-width: 48em) { blockquote { margin-left: 1rem; margin-right: 0; padding: 0.5em; }
  .h1, h1 { font-size: 2.827rem; }
  .h2, h2 { font-size: 1.999rem; }
  .h3, h3 { font-size: 1.413rem; }
  .h4, h4 { font-size: 1rem; }
  .site-header { text-align: center; }
  .site-header .site-title { float: center; }
  .site-header .site-nav { width: 100%; float: left; text-align: center; margin-top: 0.666em; margin-bottom: 1.333em; }
  .social-icons .left, .social-icons .right { text-align: center; float: none; } }
@media screen and (min-width: 64em) { .h1, h1 { font-size: 4.498rem; }
  .h2, h2 { font-size: 3.18rem; }
  .h3, h3 { font-size: 2.249rem; }
  .h4, h4 { font-size: 1.591rem; }
  .posts .post-meta { padding-bottom: .2em; }
  .post-link .post-title { margin-top: .125em; }
  .posts .post { margin-bottom: 2.666em; padding-bottom: 1.333em; border-bottom: thin solid #f3f3f3; }
  .posts .post:last-child { border-bottom: none; margin-bottom: .666em; padding-bottom: 0; } }
footer { border-top: thin solid #f3f3f3; }

footer, footer .wrap { color: #7a7a7a; background-color: #fafafa; font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif; font-weight: 300; clear: both; }

footer:after { content: ""; display: block; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px) translate3d(0, 0, 0); -ms-transform: translateY(-20px) translate3d(0, 0, 0); transform: translateY(-20px) translate3d(0, 0, 0); }
  100% { opacity: 1; -webkit-transform: translateY(0) translate3d(0, 0, 0); -ms-transform: translateY(0) translate3d(0, 0, 0); transform: translateY(0) translate3d(0, 0, 0); } }
.fade-in-down { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }

/* TOC inspired by http://jashkenas.github.com/coffee-script */
#table-of-contents {
	  font-size: 10pt;
	  position: fixed;
	  right: 0em;
	  top: 0em;
	  background: #F9F9F9;
	  line-height: 12pt;
	  text-align: right;
	  box-shadow: 0 0 1em #777777;
	  -webkit-box-shadow: 0 0 1em #777777;
	  -moz-box-shadow: 0 0 1em #777777;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
	  /* ensure doesn't flow off the screen when expanded */
	  max-height: 80%;
	  overflow: auto; }
#table-of-contents h2 {
	  font-size: 13pt;
	  max-width: 9em;
	  border: 0;
	  font-weight: normal;
	  padding-left: 0.5em;
	  padding-right: 0.5em;
	  padding-top: 0.05em;
	  padding-bottom: 0.05em; }
#table-of-contents #text-table-of-contents {
	  display: none;
	  text-align: left; }
#table-of-contents:hover #text-table-of-contents {
	  display: block;
	  padding: 0.5em;
	  margin-top: -1.5em; }
